/kv/_ll-parser.zig
/kv/_lr-parser.zig
/kv/procedures.zig
/kv/procedures_python.zig
/kv/metadata.json
/kv/__init__.py
/kv/__init__.pyi
/kv/galley_impl.*.so
/kv/libgalley-python.*
/mini_json/_ll-parser.zig
/mini_json/_lr-parser.zig
/mini_json/procedures.zig
/mini_json/procedures_python.zig
/mini_json/metadata.json
/mini_json/__init__.py
/mini_json/__init__.pyi
/mini_json/galley_impl.*.so
/mini_json/libgalley-python.*

/compile_commands.json
/build
/*.egg-info/
/.venv/
